<div class="navbar" style="margin-top: 1rem;">
  
  <pre style="font-size: 6px;">
     ██      █████      ██     ██      █████      ██████              ██████      █████  
     ██     ██   ██     ██     ██     ██   ██     ██   ██            ██          ██   ██ 
     ██     ███████     ██  █  ██     ███████     ██   ██            ██          ███████ 
██   ██     ██   ██     ██ ███ ██     ██   ██     ██   ██            ██          ██   ██ 
 █████      ██   ██      ███ ███      ██   ██     ██████      ██      ██████     ██   ██</pre> 

  
</div>
