<div class="navbar">
  <a href="https://jawad.ca" style="text-decoration-line:none;">
  <pre style="font-size: 5px;">
     ██      █████      ██     ██      █████      ██████              ██████      █████  
     ██     ██   ██     ██     ██     ██   ██     ██   ██            ██          ██   ██ 
     ██     ███████     ██  █  ██     ███████     ██   ██            ██          ███████ 
██   ██     ██   ██     ██ ███ ██     ██   ██     ██   ██            ██          ██   ██ 
 █████      ██   ██      ███ ███      ██   ██     ██████      ██      ██████     ██   ██</pre></a>

  
</div>
