body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #bebebe;
}

a:link {
  color: #9932CC;
}

a:visited {
  color: #8B008B;
}

a:active {
  color: #EE82EE;
}
