body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #bebebe;
  margin: 20px 10px 25px 0px;
}

.navbar {
  margin-bottom: 2.5rem;
}

a:link {
  color: #8A2BE2;
}

a:visited {
  color: #BA55D3;
}

a:active {
  color: #EE82EE;
}
