<!DOCTYPE html>
<html lang="en-us" data-bs-theme="dark">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/css/bsdark.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <script defer data-domain="jawad.ca" src="https://plausible.io/js/script.js"></script>
    {% seo %} {% feed_meta %} 
  </head>
  <body class="container">
    <h1 class="page-title">{{ site.name }}</h1>
    <h5>{{ site.tagline }}</h5>
    <p class="navlinks">
      <a href="/about/">About</a> | <a href="/archive/">Archive</a> | <a href="https://notes.jawad.ca" target="_blank">GitBook</a>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="DarkModeSwitcher" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
      </div>
    </p>
    <div class="body">{{ content }}</div>
    <script>
    document.getElementById('DarkModeSwitcher').addEventListener('click',()=>{
      if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme','light')
      }
      else {
        document.documentElement.setAttribute('data-bs-theme','dark')
      }
    })
    </script>
  </body>
</html>
