<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/css/bsdark.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />
    <script defer data-domain="jawad.ca" src="https://plausible.io/js/script.js"></script>
    {% seo %} {% feed_meta %} 
  </head>
  <body class="container">
    <h1>Jawad Nassar</h1>
    <h5>InfoSec, Engineering Management and Digital Privacy.</h5>
    <p class="navlinks"><a href="/about/">About</a> | <a href="/archive/">Archive</a> | <a href="/guestbook/">GuestBook</a> | <a href="https://notes.jawad.ca">GitBook</a> | <a href="https://jawad.ca/feed.xml">RSS</a></p>
    <div class="body">{{ content }}</div>
  </body>
</html>
